body {
  background: white url(../img/wallpaper-nuxeo-zago-bleu-1600.png) top right no-repeat;
  background-size: cover;
}

/*
.nuxeo-logo {
  background: white url(../img/nuxeo_logo.png) 20% center no-repeat;
  background-size: 200px 38px;
  height: 77px;
  width: 100%;
}
*/


